@font-face {
  font-family: 'Nova';
  src: url('../assets/fonts/NovaRoundRegular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/RobotoBold.woff2') format('woff2');
  font-weight: 700;
}
